<!-- app.component.html -->
<app-map
  [trips]="tripsResponse"
  [locations]="locationsResponse"
></app-map>

<div class="button-container">
  <button class="action-button" (click)="testLiveVehicleLocations()">Load</button>
  <button class="action-button" (click)="toggleResponse()">
    {{ showResponse ? 'Hide' : 'Show' }}
  </button>
  <button class="action-button" (click)="toggleAutoApiCall()">
    {{ isAutoApiCallEnabled ? 'Stop' : 'Auto' }}
  </button>
</div>

<div *ngIf="isLoading" class="loading-indicator">
  Loading...
</div>

<div *ngIf="error" class="error-message">{{ error }}</div>

<div
  *ngIf="showResponse && (tripsResponse || locationsResponse)"
  class="response-container"
>
  <pre>{{ tripsResponse | json }}</pre>
  <pre>{{ locationsResponse | json }}</pre>
</div>
